<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h5>About</h5>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>


  <%= source_helper("alert alert-info blog-sidebar-source") %>



  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h5>Connect with me</h5>
    <ol class="list-unstyled social links">
      <li><a href="https://jgunner.deviantart.com/" target="_new"><%= fa_icon "deviantart" %> Deviant Art</a></li>
      <li><a href="https://jackysody.tumblr.com/" target="_new"><%= fa_icon "tumblr-square" %> Tublr</a></li>
      <li><a href="https://www.youtube.com/channel/UCzVzgBteP3ISEaTxUeSbRjw" target="_new"><%= fa_icon "youtube-play" %> You Tube</a></li>
      <li><a href="https://www.instagram.com/jackysody/" target="_new"><%= fa_icon "instagram" %> Instagram</a></li>
      <li><a href="https://twitter.com/jackysody" target="_new"><%= fa_icon "twitter-square" %> Twitter</a></li>
      <li><a href="https://www.facebook.com/jaygie.sody" target="_new"><%= fa_icon "facebook" %> Facebook</a></li>
    </ol>
  </div>
</div>